<p><strong>{{ author }}<a href="#corr"><sup>*</sup></a></strong>
<p>
<p>{{ authorsDepartment }}</p>
<dl class="dl-horizontal">
    <dt>*Corresponding Author:</dt>
    <dd>{{ author }}<a name="corr" id="corr"></a><br />
        {{ prefixAuthorDepartment }}
        {{ suffixAuthorDepartment }}
        <strong>E-mail:</strong> <a href="mailto:{{ email }}">{{ email }}</a>
    </dd>
</dl>
<p><strong>Received</strong>: {{received}}, Manuscript No. {{ManuscriptNo}}; <strong>Editor assigned</strong>:
    {{editorAssigned}},
    PreQC No. {{preQCNo}}(PQ); <strong>Reviewed</strong>: {{reviewed}}, QC No {{QCNo}};
    <strong>Revised</strong>: {{revised}}, Manuscript No. {{RManuNo}}(R); <strong>Published</strong>: {{published}},
    DOI:<a href="https://doi.org/{{ doi }}" target="_blank">{{ doi }}</a>
</p>
<p><strong>Citation</strong>: {{ citation }}</p>
<br />
<br />
<h2 class="post-title">Introduction</h2>
<p>{{ introduction }}</p>
<h2 class="post-title">Conclusion</h2>
<p>{{ conclusion }}</p>
<h2 class="post-title">References</h2>
<ol>
    {{ storeRefPart }}
</ol>